{
  "log": {
    "_recordingName": "client-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d5ecac5a4b7291400a4b9a724879e789",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://singletenant.polymerhq.io/api/v1/violations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"error\":\"Unauthorized Access\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "9"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 728,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
