{
  "log": {
    "_recordingName": "fetch-violations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d5ecac5a4b7291400a4b9a724879e789",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://singletenant.polymerhq.io/api/v1/violations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 15271,
            "text": "{\"pagination\":{\"current\":1,\"last\":212,\"next_url\":\"https:\\/\\/singletenant.polymerhq.io\\/api\\/v1\\/violations?size=20&page=2&from=254\"},\"count\":4226,\"items\":[{\"id\":151,\"name\":\"message\",\"time\":\"2022-03-29 15:41:17\",\"file\":{\"id\":null,\"name\":null},\"event\":{\"external_id\":\"1648568469.061709\",\"time\":\"2022-03-29 15:41:09\"},\"team\":{\"id\":4,\"external_id\":\"T038YBPN5JS\",\"name\":\"JohnHealthCare\",\"platform\":\"Slack\",\"platform_slug\":\"slack\",\"mode\":\"a\"},\"user\":{\"id\":26,\"external_id\":\"U039HKGNRMX\",\"name\":\"john\",\"email\":\"john@polymerhqdemo.com\",\"type\":\"user\",\"account_id\":4},\"channel\":{\"id\":98,\"external_id\":\"C038YBPS56J\",\"name\":\"general\",\"type\":\"public\",\"external_parent\":null},\"rules\":[{\"id\":\"33\",\"name\":\"Email Address\",\"count\":\"1\"},{\"id\":\"34\",\"name\":\"USA Social Security Number\",\"count\":\"1\"},{\"id\":\"35\",\"name\":\"Phone Number\",\"count\":\"2\"}]},{\"id\":152,\"name\":\"message\\/file_share\",\"time\":\"2022-03-29 15:42:32\",\"file\":{\"id\":\"F0395HRAL3C\",\"name\":\"eyJpdiI6ImIwdW5Id0NNN2luMlpONU11V1Rub1E9PSIsInZhbHVlIjoieHlKd3lUajdqXC9sZmtTUDB4bnR5NDU5MThCNm9xS3BmV2t1bU52VWRRSHM9IiwibWFjIjoiODZkZjIyZDM2MDJlMmMzYzdmOTM3YTdkNWFkODYyYThmN2I4NDVjMTg0O[...]
